.footable-row-detail-inner {
    width: 100% !important;
}
.theme-config
{
	position: fixed !important;
	z-index: 55555 !important;
}

/* on small screen black row was coming to resolve that*/
@media only screen and (max-width: 768px) {
    .blackRowIssue {
        margin-top: -10px !important;
    }
}

/* For top navigation layout */
.topMargin60{
	margin-top: 60px !important;
}

.left0{
	left:0px !important;
}

.navHeaderWidth{
	width: 220px !important;
}



.navLogo{
	height:60px !important;
	float:left !important;
	padding:3px !important;
}

.floatRight{
	float:right !important;
}

.maxWidth100{
	max-width: 100% !important;
}

@keyframes anim {
  0% { background-position: 0 0; }
  100% { background-position: 50px 50px; }
}    

.bar {
  position: absolute;
  margin: auto;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 30%;
  height: 25px;
  overflow: hidden;
  z-index: 9999;
  background-size:100px 100px;
  background-image: linear-gradient(-45deg,
     #33c9ff 25%, #00b2f2 25%, 
     #00b2f2 50%, #33c9ff 50%,
     #33c9ff 75%, #00b2f2 75%);
  animation: anim 1s linear infinite;
}

.bar p {
  width: 100%;
  margin: 4px auto;
  text-align: center;
  color: white;
}

.ibox.float-e-margins.dashlink {
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .navHeaderWidth{
	width: 170px !important;
}
}

.mail_group {
     min-height: auto !important;
}

.verticalMiddleAlign {
	vertical-align: middle !important;
}

.textAlignment {
	max-width: 50px !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

.midTextAlignment {
	max-width: 80px !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

.mdTextAlignment {
	max-width: 100px !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

.lgTextAlignment {
	max-width: 200px !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

.xlTextAlignment {
	max-width: 250px !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

.menuTextAlignment {
	width: 135px !important;
    display: inline-block !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

.lgMenuTextAlignment {
	width: 215px !important;
    display: inline-block !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

.smMenuTextAlignment {
	width: 100px !important;
    display: inline-block !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

.xsMenuTextAlignment {
	width: 75px !important;
    display: inline-block !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

.headerLogo{
	margin: 5px 10px 5px 10px !important; 
	max-height: 50px !important; 
	max-width: 100px !important;
}

@media only screen and (min-width: 768px) {
    .navbar-header {
        width: 60px !important;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-last-child {
        margin-right: 25px !important;
    }
}

.note-editor:focus {
	outline: 0 !important;
    border: 1px solid #3f81bc !important;
}

@media (max-width: 350px) {
	.smallMargin {
		margin: 5px !important;
	}
	
	.toggleButtonMargin {
		    margin: 14px 5px 5px 5px !important;
	}
}

.errorBorder {
	border-color : #fbc2c4 !important;
}

.errorMessage {
	color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.errorDisplay {
	background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.header-logo-image {
	max-height: inherit !important;
}

.no-overflow{
	overflow: visible !important;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.wizard > .content
{
    background: #ffffff;
}
