<%@ tag import="net.tanesha.recaptcha.ReCaptcha" %>
<%@ tag import="net.tanesha.recaptcha.ReCaptchaFactory" %>

<script type="text/javascript">var RecaptchaOptions = {theme : 'clean'};</script> 
<%
	ReCaptcha reCaptcha = ReCaptchaFactory.newReCaptcha("6LcejxcUAAAAAPyjy8S0wLi4LbKZV5aoKt3Q-Kcq", "6LcejxcUAAAAAAZfodKECbQcY5aviZjTWY2UjQ0r", false);
	out.print(reCaptcha.createRecaptchaHtml(null, null));
%>